@model WitKeyDu.Site.Models.FileView
@{
    ViewBag.Title = "文件分享";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/RefrenceFile/wangEditor/dist/css/wangEditor.css")
@Styles.Render("~/Content/RefrenceFile/WebUploder/css/style.css")
@Styles.Render("~/Content/RefrenceFile/WebUploder/css/webuploader.css")
@Styles.Render("~/Content/ForumModule/ReleaseForum.css")

    @using (Html.BeginForm("ReleaseFile", "FileModule", FormMethod.Post, new { id = "fileForm" }))
    {
	    <div class="container">
		    <div class="row">
		        <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-body">
		                <div class="col-md-8 col-md-offset-2 form-module">
                            <div class="col-md-12 col-xs-12 col-xm-12 text-left notice">
                                请您在此分享文件资源以及教程信息。转载请注明出，知识产权不得侵犯，处违法必究。
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                            </div>
		                    <div class="form-group">
                                <div id="container">
                                <div class="col-md-12"> 
                                    @Html.LabelFor(model => model.FileName, new { @class = "control-label label-line-height text-left  col-md" })
                                    @Html.ValidationMessageFor(model => model.FileName)  
                                </div>
                                <div class="col-md-12"> 
                                    @Html.TextBoxFor(model => model.FileName, new { @class = "form-control input-md" })
                                </div> 
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.FileIntroduction, new { @class = "control-label label-line-height text-left  col-md" })
                                    @Html.ValidationMessageFor(model => model.FileIntroduction)  
                                </div>
                                <div class="col-md-12"> 
                                    @Html.TextAreaFor(model => model.FileIntroduction, new { @id = "FileIntroduction", @class = "form-control input-md" })
                                </div>
                                    <div id="uploader" class="col-md-12 col-md-offset-">
                                        <div class="queueList">
                                            <div id="dndArea" class="placeholder">
                                                <div id="filePicker"></div>
                                                <p>或将照片拖到这里，单次最多可选300张</p>
                                            </div>
                                        </div>
                                        <input name="fileCode" class="fileCode" type="hidden" value="@Model.FileCode"/>
                                        <div class="statusBar" style="display:none;">
                                            <div class="info col-md-6 col-sm-12 col-xs-12"></div>
                                            <div class="btns col-md-6 col-sm-12 col-xs-12">
                                                <div id="filePicker2"></div>
                                                <div id="uploadBtn" class="uploadBtn">
                                                    开始上传
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                        </div>
				    </div>
                </div>
		    </div>
        </div>
    </div>
    } 
    @Scripts.Render("~/Content/RefrenceFile/Bootstrap/js/jquery-2.2.0.js")
    @Scripts.Render("~/Content/RefrenceFile/WebUploder/js/upload.js")
    @Scripts.Render("~/Content/RefrenceFile/WebUploder/js/webuploader.js")
    @Scripts.Render("~/Content/RefrenceFile/wangEditor/dist/js/wangEditor.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#uploadBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "ReleaseFile",
                    datatype: "json",
                    data: $('#fileForm').serialize(),
                    success: function () {
                    }
                });
            });
        });

        var editor = new wangEditor('FileIntroduction');
        // 自定义菜单
        editor.config.menus = [
        'source', 'bold', 'underline', 'italic', 'strikethrough',
        'eraser', 'forecolor', 'bgcolor', 'quote', 'fontfamily',
        'fontsize', 'head', 'unorderlist', 'orderlist', 'alignleft',
         'aligncenter', 'alignright', 'link', 'unlink', 'table',
        'emotion', 'img', 'vedio', 'location', 'insertcode', 'undo',
         'redo', 'fullscreen'
    ];
        // 颜色
        editor.config.colors = {
            '#880000': '暗红色',
            '#800080': '紫色',
            '#ff0000': '红色'
        };

        // 字体
        editor.config.familys = [
        '宋体', '黑体', '楷体', '微软雅黑',
        'Arial', 'Verdana', 'Georgia'
        ];

        // 字号
        editor.config.fontsizes = {
            // 格式：'value': 'title'
            1: '10px',
            2: '13px',
            3: '16px',
            4: '19px',
            5: '22px',
            6: '25px',
            7: '28px'
        };
        // 表情
        editor.config.emotions = {
            'default': {
                title: '默认',  // 分组的标题
                size: 18,  // 表情图标的尺寸
                imgs: [
                // 每个表情图标的url地址
                '../Content/RefrenceFile/wangEditor/static/emotions/default/1.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/2.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/3.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/4.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/5.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/6.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/7.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/8.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/9.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/10.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/11.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/12.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/13.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/14.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/15.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/16.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/17.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/18.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/19.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/20.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/21.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/22.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/23.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/default/24.gif'
            ]
            },
            'jinxing': {
                title: '金星',  // 分组的标题
                size: 50,  // 表情图标的尺寸
                imgs: [
                // 每个表情图标的url地址
                '../Content/RefrenceFile/wangEditor/static/emotions/jinxing/1.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/jinxing/2.gif',
                '../Content/RefrenceFile/wangEditor/static/emotions/jinxing/3.gif'
            ]
            }
        };

        // 将全屏时z-index修改为20000
        editor.config.zindex = 20000;
        // 阻止输出log
        wangEditor.config.printLog = true;
        // 关闭js过滤
        editor.config.jsFilter = true;
        // 取消粘贴过滤
        editor.config.pasteFilter = true;
        // 上传图片
        editor.config.uploadImgUrl = '../Content/RefrenceFile/wangEditor/dist/upload.ashx';
        editor.create();
    </script>
