@using Webdiyer.WebControls.Mvc;
@using WitKeyDu.Component.Tools.Extensions;
@model PagedList<WitKeyDu.Site.Models.StoreView>
@{
    ViewBag.Title = "服务大厅";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/StoreModule/StoreList.css")    
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body panelbox">
                        <div class="col-md-9 col-xs-12 col-sm-6 text-center">
                            <h3>享受品质众包——威客渡</h3>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <a href="CreateStore">
                                <div class="col-md-12 col-xs-6 col-sm-12 btn btn-success">
                                    <h4>我要开店</h4>
                                </div>
                            </a>
                            <div data-toggle="modal" data-target="#myModal" class="col-md-12 col-xs-6 col-sm-12 btn btn-default"> 
                                <h4>选择类型</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-12 col-xs-12 store">
                    <div class="store-module">
                        <div class="col-md-12 col-xs-12 col-sm-12 store-module-footer store-price text-center edging">
                            @Html.DisplayFor(modelItem => item.StoreName)的店铺
                        </div>
                        <a href="@Url.Action("StoreDetail", "StoreModule", new { StoreID = item.Id })">
                            <img src="@item.StoreLogo" class="img-padding img-circle img-responsive  center-block" width="60%" alt="店铺图标" />
                        </a>
                        <div class="col-md-6 col-xs-6 col-sm-6 store-module-footer text-left edging task-price">
                            @Html.DisplayFor(modelItem => item.StoreContract)
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6 store-module-footer text-right edging">
                            <span class="store-price">&#65509;1000</span>/起价
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 store-module-footer text-right  edging">
                            <a href="@Url.Action("StoreDetail", "StoreModule", new { StoreID = item.Id })"> 
                                <span class="mark img-thumbnail store-price">进入店铺</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
             <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            @Html.Pager(Model, new PagerOptions { 
                            PageIndexParameterName = "id",
                            NumericPagerItemCount = 10,
                            ContainerTagName = "ul", 
                            CssClass = "pagination",  
                            CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", 
                            DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", 
                            PagerItemTemplate = "<li>{0}</li>", Id = "pager", 
                            PageIndexBoxId = "pageIndexBox", 
                            GoToButtonId = "goToBtn", 
                            NavigationPagerItemsPosition = PagerItemsPosition.Right })
                        </div>
                        <div class="col-md-2 col-xs-12 text-right">
                            <div class="input-group" style="margin:20px 0">
                                <input type="text" id="pageIndexBox" class="form-control input-md" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary btn-md" id="goToBtn">跳转</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @section Scripts{@{Html.RegisterMvcPagerScriptResource();}}
        </div>
    </div>